.header img {
  height: 120px;
  padding-bottom: 10px;
}
/* .header {
  background-image: url(../../images/background.png);
} */
.top-banner {
  background-color: black;
  margin-top: 10px;

  color: white;
}
.banner {
  background: black;
  color: white;
  width: 700px;
  height: 60px;
  border-radius: 5px;
}
.all-players {
  background: #acacac6c;
  margin-left: -35px;
}
